<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="accent">menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>No Type</button>
  <button mat-menu-item>Sci-fi</button>
  <button mat-menu-item>Motivational</button>
  <button mat-menu-item>Sports</button>
  <button mat-menu-item>Comedy</button>
  <button mat-menu-item>Sci-Fi</button>
  <button mat-menu-item>Thriller</button>
</mat-menu>

<a routerLink="/content" routerLinkActive="active">Content List</a><br />
<a routerLink="/content/1" routerLinkActive="active">Coraline</a><br />
<a routerLink="/pagewillnotbefound" routerLinkActive="active">Invalid page link</a><br />

<router-outlet></router-outlet>

<h1 class="primary-500">
    {{ title }}
</h1>
<!-- <mat-icon color="primary" class="heart">favorite</mat-icon> -->

<app-messages></app-messages>

<!-- Single ContentCard -->
<!-- <div class="card" [style.box-shadow]="customContent ? '0 10px 12px black' : 'none'">
    <app-content-card *ngIf="customContent" id="custom-card" [content]="customContent"></app-content-card>
</div> -->

<app-content-list></app-content-list>
