<!-- content-list.component.html -->
<app-create-content (insertContentEvent)="insertContentEvent($event)"></app-create-content>
<div *ngFor="let content of contentList">
  <h3>{{ content.title }}</h3>
</div>

<div class="content-container">
  <div class="search-container">
    <!-- Search input field -->
    <input type="text" placeholder="Search by title" [(ngModel)]="searchTitle">
    <!-- Search button -->
    <button (click)="searchContent()">Search</button>
    <!-- Search result message -->
    <p [style.color]="searchResultColor" class="search-result">{{ searchResult }}</p>
  </div>

  <div class="test">
    <div class="content-section">
      <h3>Car</h3>
      <div class="content-items">
        <app-content-card *ngFor="let contentItem of contentList | typeFilter:'Car'" [content]="contentItem"></app-content-card>
      </div>
    </div>

    <div class="content-section">
      <h3>Tech</h3>
      <div class="content-items">
        <app-content-card *ngFor="let contentItem of contentList | typeFilter:'Tech'" [content]="contentItem"></app-content-card>
      </div>
    </div>
  </div>

</div>
